
<div class="container">
    <div class="row col-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1>{{titulo}}</h1>
                <form #profesorForm="ngForm"  (ngSubmit)="modificar()">
                    <div class="col-md-12 mb-2">
                        <label for="">Nombre</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="profesor.nombre">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="">Telefono</label>
                        <input type="text" name="telefono" placeholder="Telefono" class="form-control" [(ngModel)]="profesor.telefono">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="">Correo Electronico</label>
                        <input type="text" name="correoelectronico" placeholder="Correo Electronico" class="form-control" [(ngModel)]="profesor.correoelectronico">
                    </div>
                    <div class="d-grid gab-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>